/*
#395144 (darkest green)
#4E6C50 (green)
#8B7147 (brown)
#EEE9CC (white)
#393939 (black)
*/

body {
    background-color: #393939;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

#wrapper{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: #EEE9CC;
    min-height: 100dvh;

}

header{
    background-color: #395144;
    color: #EEE9CC;
    padding-top: 5px;
    padding-bottom: 5px;
    height:155px
}

footer{
    background-color: #395144;
    color: #EEE9CC;
    padding-top: 5px;
    height:80px;
    bottom:0;
    position:fixed;
    width:70%;
    margin-left:15%;
    margin-right:15%;

}

h1, h2, h3, h4, h5, h6, p, li {
    margin-left: 15px;
}

.button{
font-size:large;
text-decoration:none;
background-color:#8B7147;
display:block;
width:15%;
float:left;
text-align: center;
padding:2px;
margin:5px;
border-radius:15px;
color:#EEE9CC;
}

.button:hover{
box-shadow:5px 5px 3px black;
background: radial-gradient(ellipse at center, #8B7147 51%,#262113 100%);
}

section{
    color:#393939
}

.sectionB{
    color:#393939;
    text-align: right;
    margin-right: 15px;
}

aside{
    float: right;
    margin: 5px;
    padding: 5px;
    width: 50%;
}
img{
    width:95%;

}